[workspace]
resolver = "3"
members = [
    "day01",
    "day02",
    "day03",
    "day04",
    "day05",
    "day06",
    "day07",
]

[workspace.package]
edition = "2024"
license = "MIT"
publish = false
